[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
django = "~=4.1.0"
sqlparse = "==0.4.2"
pillow = "==9.2.0"
flower = "==1.1.0"
celery = "==5.2.7"
stripe = "==4.0.2"
weasyprint = "==56.1"
easy-thumbnails = "*"
redis = "==4.3.4"
django-rosetta = "==0.9.8"
django-parler = "==2.3"

[dev-packages]

[requires]
python_version = "3.10"
